<div class="row">
  <h4>Search Song by</h4>
  <div class="col-sm-12">
    <input type="text" name="searchArtist" placeholder="Search Artist" maxlength="40" class="search form-control" ng-model="searchArtistInput" />
    <button type="submit" class="btn btn-default" ng-click="searchArtistFunc()">Submit</button>
  </div>
  <!-- <div class="col-sm-4">
    <input type="text" name="searchAlbum" placeholder="Search Album" maxlength="40" class="search form-control" ng-model="searchAlbum"/>
  </div>
  <div class="col-sm-4">
    <input type="text" name="searchSong" placeholder="Search Song" maxlength="40" class="search form-control" ng-model="searchSong"/>
  </div> -->
  <div class="col-sm-6 scroller" ng-show="showArtists">
    <div ng-repeat="Artists in searchArtistVal.artists.items">
      <div class="col-sm-10">{{Artists.name}}</div>
      <div class="col-sm-2 text-right"><button type="button" class="btn btn-success" ng-click="selectArtist(Artists.id)">Select Artist</button></div> 
    </div>
  </div>
  <div class="col-sm-6 scroller" ng-show="showTracks">
  
    <div ng-repeat="Track in selectedArtist.tracks">
    <div class="col-sm-9">{{Track.name}}</div>
    <div class="col-sm-3 text-right"><button type="button" class="btn btn-success" ng-click="AddTracktoPlaylist(Track.id)">Add Track to playlist</button></div>
      
    </div>
  </div>
  <h4>Top Tracks</h4>
  <div class="row">
  
    <div ng-repeat="Tracks in playlist"><div class="col-sm-12">
      <div class="col-sm-2">{{Tracks.track}}</div>
      <div class="col-sm-2">{{Tracks.artist}}</div>
      <div class="col-sm-2">{{Tracks.album}}</div>
      <div class="col-sm-4">{{Tracks.note}}</div>
      <div class="col-sm-2"><button type="button" class="btn btn-success" ng-click="removeFromPlaylist(Tracks)">Remove</button></div>
    </div>
  </div></div>
</div>
